:root{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf');
}

body{
    display:flex
}

aside{
    background-color: black;
    background-image: url('./images/bg.avif');
    color: white;
    flex-grow: 1;
}

aside > .logo {
    display: flex;
    align-items: center;
    background-color: #00000080;
    font-family: 'Norse-Bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    justify-content: center;
    margin-top: 30%;
}

aside > .logo > img {
    height: 10rem;
}

section{
    display: flex;
    flex-direction: column;
    flex-grow: 3.5;
}

section .head{
    background-color: lightgray;
}

section .head{
    padding-bottom: 5%;
}

section .head, section .body > p{
    font-size: 2rem;
    padding-left: 5%;
    padding-right: 20%;
}

section .body{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}

section .row{
    padding-left: 5%;
    display:flex;
    gap: 3%;
}

section .row .col{
    display:flex;
    flex-direction: column;
    gap: 0px;
}
