:root{
    box-sizing: border-box;
    --left-space: 5%;
    --bg-top-bot: rgb(240, 240, 240);
    --little-letter: 0.8rem;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf');
}

body{
    display: flex;
    margin: 0px;
}

aside{
    background-color: black;
    background-image: url('./images/bg.avif');
    color: white;
    flex-grow: 1;
}

aside > .logo{
    display: flex;
    align-items: center;
    background-color: #00000080;
    font-family: 'Norse-Bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    justify-content: center;
    margin-top: 30%;
}

aside > .logo > img{
    height: 10rem;
}

section{
    display: flex;
    flex-direction: column;
    flex-grow: 3.5;
}

section .head, section .footer{
    background-color: var(--bg-top-bot);
}

section .head{
    padding-bottom: var(--left-space);
}

section .head, section .body > p{
    font-size: 2rem;
    padding-left: var(--left-space);
    padding-right: 20%;
}

section .body{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5%;
}

section .row{
    padding-left: var(--left-space);
    display:flex;
    gap: 3%;
}

section .row .col{
    display:flex;
    flex-direction: column;
    gap: 0px;
}

section .row .col label{
    font-size: var(--little-letter);
}

section .row .col input{
    outline: none;
    border-color: #E5E7EB;
    border-radius: 5px;
    height: 1.2rem;
}

section .row .col input:focus{
    border-color: skyblue;
    box-shadow: inset 1px 1px skyblue;
    
}

section .row .col input.error{
    border-color: red;
    box-shadow: inset 1px 1px red;
    
}

p#passwordAlert{
    font-size: var(--little-letter);
}

section .footer{
    box-shadow: 0px -4px lightgray;
    padding: var(--left-space);
    padding-bottom: 10%;
}

section .footer button{
    background-color: #596D48;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 15px 50px;
}

p.error{
    color: red;
}

p.success{
    color: green;
}

@media (max-width: 800px) {
    aside{
        display: none;
    }
}
